{% extends '::base.html.twig' %}

{% block stylesheets  %}
  {% stylesheets '@NIIFGN3GHGSimulatorBundle/Resources/public/css/*' %}
      <link rel="stylesheet" href="{{ asset_url }}" />
  {% endstylesheets %}
{% endblock %}

{% block title %}GHG Simulator{% endblock %}

{% block header %}
  <h1>GHG Calculator</h1>
{% endblock %}

{% block body %}

  <form action="" method="post" {{ form_enctype(form) }}>

    {{ form_errors(form) }}

    {{ form_row(form.confLocation) }}
    {{ form_row(form.confDuration) }}

    <div id="pl-fields-list" data-prototype="{{ form_widget(form.participants.vars.prototype) | e }}"></div>
   
    {{ form_rest(form) }}

    <input type="submit" />
  </form>
{% endblock %}

{% block javascripts  %}
  {% javascripts '@NIIFGN3GHGSimulatorBundle/Resources/public/js/*.js' %}
      <script type="text/javascript" src="{{ asset_url }}"></script>
  {% endjavascripts %}

  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=places"></script>
  <script type="text/javascript">
    // Get the ul that holds the collection of participants
    var collectionHolder = $('#pl-fields-list');

    // setup an "add a participant" link
    var $addParticipantLink = $('<a href="#" class="button" id="add_participant">+</a>');
    var $newLinkDiv = $('<div></div>').append($addParticipantLink);

    jQuery(document).ready(function() {
        // add a delete link to all of the existing participant form div elements
        collectionHolder.find('div').each(function() {
            addParticipantFormDeleteLink($(this));
        });

        // add the "add a participant" anchor and li to the participants ul
        collectionHolder.append($newLinkDiv);

        // count the current form inputs we have (e.g. 2), use that as the new
        // index when inserting a new item (e.g. 2)
        collectionHolder.data('index', collectionHolder.find(':input').length);

        $addParticipantLink.on('click', function(e) {
            // prevent the link from creating a "#" on the URL
            e.preventDefault();

            // add a new participant form (see next code block)
            addParticipantForm(collectionHolder, $newLinkDiv);
        });

        for (i = 1; i < 3; i++) {
          $("#add_participant").trigger('click');
        }

        $("#conference_confLocation").geocomplete();

        createButtonFormA();

        this.tooltip({
          track: true
        });
    });

    function addParticipantForm(collectionHolder, $newLinkDiv) {
        // Get the data-prototype explained earlier
        var prototype = collectionHolder.data('prototype');

        // get the new index
        var index = collectionHolder.data('index');

        // Replace '__name__' in the prototype's HTML to
        // instead be a number based on how many items we have
        var newForm = prototype.replace(/__name__/g, index);
        newForm = newForm.replace(/div/g, 'span');

        // increase the index with one for the next item
        collectionHolder.data('index', index + 1);

        // Display the form in the page in an div, before the "Add a participant" link div
        var $newFormDiv = $('<div></div>').append(newForm);
        $newLinkDiv.before($newFormDiv);
            
        // add a delete link to the new form
        addParticipantFormDeleteLink($newFormDiv);
        
        //binding geocoding function
        $('#conference_participants_' + index + '_participantLocation').geocomplete();
    }
  
    function createButtonFormA() {
      $(".button").button().click(function( event ) {
        event.preventDefault();
      });

      $("input[type=submit]").button().click(function( event ) {
      });
    }

    function addParticipantFormDeleteLink($participantFormDiv) {
        var $removeFormA = $('<a href="#" class="button">-</a>');
        $participantFormDiv.append($removeFormA);

        createButtonFormA();

        $removeFormA.on('click', function(e) {
            // prevent the link from creating a "#" on the URL
            e.preventDefault();

            // remove the div for the participant form
            $participantFormDiv.remove();
        });
    }
  </script>
{% endblock %}

